@model IEnumerable<JagoSystem.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h2>Viagens</h2>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-bus"></i>Nova viagem</a>
</p>
<table class="table">
    <thead>
         <script src="https://kit.fontawesome.com/ca515fdac4.js" crossorigin="anonymous"></script>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Origem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passageiro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Origem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destino)
                </td>
                <td>
                    
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passageiro.Name)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-light" asp-route-id="@item.Id"><i class="far fa-edit"></i></a> |
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="fas fa-user-times"></i></a>
                </td>
            </tr>
        }
       
    </tbody>
</table>
